body {
    background-image: url("assets/DSC06690.jpg");
    background-color: #f9f4f4;
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  h1 {
    color: #1f98e9;
  }
  p {
    color: white;
  }

label{
  color: white;
}
.box1{
    width: 50px;
    height: 60px;
}
.box2{
    width: 20px;
     height: 20px;
     }
 .box3{
     width: 20px;
     height: 20px;
   }
     
 p.roboto {
    font-family: 'Roboto Slab';
    font-size: 22px;
 }
 .centre1 {
    display: flex;
    justify-content: center;
  }
 .aligne1{
  display: flex;
 }
 .aligne2{
  width: 70%;
 }
 .image1{
  width: 200px;
  height: 130px; }
.image2{
  width: 300px;
  height: 210px; }

.image3{
    width: 100px;
    height: 80px;
  
   }
   .image4{
    width: 500px;
    height: 450px;
  
   }
 .division5{
  float: right;
 }
 .division6 {
  text-align: center;
 }